@charset "utf-8"; 

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
}

h1 {
    background-color: #00cbcb;
    text-align: center;
    flex: 1 1 100%;
    padding: 1em;
    color: #fff;
}

.gisele{
    display: none;
}

h2 {
    text-align:center;
    margin-bottom: 2em;
}

main {
    flex: 1 1 100%;
    width: 100%;

}

.main-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.img-social {
    max-width: 25%;
    width: 10%;
    margin-top: 3em;   
}

form {
    margin-top: 4em;
}

textarea{
    resize: none;
}

form p {
    margin: 2em auto;
}

.i , .f , .w{
    font-size:1.5em;
    margin-right: 0.5em;
}

.contato-social{
    margin-top: 4em;
}

.enviar{
    background-color: #fff;
    color: rgb(168, 14, 109);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

.enviar:hover{
    background-color: #000;
    color:#00cbcb
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;
        margin: auto;
    }

    .bloco-form {
        margin-bottom: 5em;
    }

    h2 {
        display: none;
    }

    
}