@charset "utf-8"; 

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
}


  /* MAIN */

main {
    width: 100%;
    margin: 0 auto;
    flex: 1 1 100%;
}

h1,h2 {
    background-color: #00cbcb;
    color: #fff;
    padding: 1em;
    text-align: center;
}


.div-curriculo {
    flex: 1 1 100%;
    display:flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.div-curriculo p {
    text-align: center;
}

.img-curriculo {
    width: 30% ;
    min-width: 30%;
    border-radius: 50%;
}

/* SECTION */

section {
    width: 100%;
    margin: auto;
    flex: 1 1 100%;
}

.p-sobre {
    width: 40%;
    margin: 0 auto;
    font-size: 1em;
}



@media (max-width: 700px) {
    .p-sobre {
        width: 90%;
        font-size: 1em;
    }

    .div-curriculo {
        flex-direction: column;
    }

    .img-curriculo {
        width: 50%;
    }
}
